PORT=4006
MONGO_URI=mongodb://mongo:27017/jobnova_notifications
KAFKA_BROKERS=kafka:29092
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
MAIL_FROM=JobNova <no-reply@jobnova.local>
