PORT=8080
JWT_SECRET=zubairis@goodboy
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
JOB_SERVICE_URL=http://job-service:4003
APPLICATION_SERVICE_URL=http://application-service:4004
AI_SERVICE_URL=http://ai-service:4005
NOTIFICATION_SERVICE_URL=http://notification-service:4006
