PORT=4002
MONGO_URI=mongodb://mongo:27017/jobnova_users
KAFKA_BROKERS=kafka:29092
CLOUDINARY_CLOUD_NAME= dsjlduovh
CLOUDINARY_API_KEY= 473389617884682
CLOUDINARY_API_SECRET= zSMGRrLLZFLCojmTePa5HQN5_z4
